@import "tailwindcss";
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}

.fade-up.show {
  animation: fadeUp 0.8s ease-out forwards;
}