@import "tailwindcss";
@keyframes fadeUp {
  0% {
    opacity: 0;
    transform: translateY(40px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.fade-up {
  opacity: 0;
  transform: translateY(40px);
}

.fade-up.show {
  animation: fadeUp 0.8s ease-out forwards;
}

@keyframes heroUp {
  0% {
    opacity: 0;
    transform: translateY(60px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.head-up {
  animation: heroUp 0.9s ease-out forwards;
}

@keyframes buttonUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.button-up{
  animation: heroUp 1.0s ease-out forwards;
}

@keyframes docUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.doc-up{
  animation: heroUp 1.1s ease-out forwards;
}

@keyframes tempUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.temp-up {
  animation: tempUp 0.7s ease-out forwards;
  overflow-anchor: none;
}